* {
  box-sizing: border-box;
  color: #cec8b8;
}

p {
  font-size: 30px;
  margin: 0 100px 0 100px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  background-color: #161616;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 20vh 100px 5vh 100px;
  height: 45vw;
  width: 45vw;
  background-color: #cec8b8;
}